{% extends 'base.html' %}
{% load static %}
{% block head_title %}Abstract Submission |{% endblock head_title %}


{% block banner %}

<!-- <img src="{% static 'assets/images/ictnklc_pics/IITDelhi_logo.png' %}" style="max-width: 200px; max-height: 200px;" class="img-fluid"> -->
<img src="{% static 'assets/images/ictnklc_pics/ictnklc_banner.png' %}" class="img-fluid">
{% endblock banner %}

{% block main %}
<!-- <section class="features-overview" id="features-section" >
    <div class="content-header">
      <h2>ICTN-KLC 2025</h2>
      <h6 class="section-subtitle text-muted">Selected participants will be invited to be submitted at Journal of</h6>
    </div>
    <div class="d-md-flex justify-content-between">
      <div class="grid-margin d-flex justify-content-start"></div>
      <div class="grid-margin d-flex justify-content-center">
          <div class="features-width" style="text-align: center;">
              <img src="images/Group7.svg" alt="" class="img-icons">
              <h5 class="py-3">Materials Science <br> Materials and Electronics</h5>
              <p class="text-muted">Journal of Materials Science: Materials in Electronics publishes papers on materials and their applications in modern electronics.</p>
              <a href="https://www.springer.com/journal/10854/" target="_blank"><p class="readmore-link">Read More</p></a>
          </div>
      </div>
      <div class="grid-margin d-flex justify-content-end"></div>
    </div>
</section>  -->

 <section class="contact-us" id="contact-section">

  <div class="contact-us-bgimage grid-margin" >
      <div class="content-header" style="padding-bottom: 5rem;">
        <h2>Abstract Submission</h2>
        <h6 class="section-subtitle text-muted">Participants are invited to submit their paper abstract following the format below. <br>Eligible papers would be selected for publications</h6>
      </div>

        <img src="{% static 'assets/images/ictnklc_pics/abstract.png' %}" class="img-fluid">


      <div data-aos="fade-up">
        <a href="{% static 'assets/images/ictnklc_pics/Abstract_template_ictnklc_2025.doc' %}">
        <button class="btn btn-rounded btn-outline-danger" download>Download Abstract Sample</button>
        </a>
      </div>          
  </div>
</section>
{% endblock main %}