{% extends 'base.html' %}
{% load static %}
{% block head_title %}Home |{% endblock head_title %}


{% block banner %}
<h1 class="font-weight-semibold">3rd International Conference on Thin Films and Nanotechnology</h1>

<h6 class="font-weight-normal text-muted pb-3">A Knowledge, Leadership & Commercialization Conference  
<br><span style="color: rgb(236, 78, 78);">coming up from <b>11 - 13 December, 2025</b> at the Indian Institute of Technology Delhi</span><br>and organized in collaboration with industry experts.</h6>

<!-- <img src="{% static 'assets/images/ictnklc_pics/IITDelhi_logo.png' %}" style="max-width: 200px; max-height: 200px;" class="img-fluid"> -->
<img src="{% static 'assets/images/ictnklc_pics/iitdbuilding.png' %}" class="img-fluid">
{% endblock banner %}

{% block main %}

<section class="features-overview" id="features-section" >
    <div class="content-header">
      <h2>About the Conference</h2>
      <h6 class="section-subtitle text-muted">The first edition of ICTN-KLC was held online in 2021. Encouraged by the grand success of the conference, the organizing committee has moved to institutionalize the conference.</h6>
      <!-- , we are pleased to invite participants from all over the world to take part, engage and enlighten in this scientific gathering. We expect that the event will attract about 500 participants from diverse fields allowing academicians, researchers, scientists, and industrial representatives to exchange ideas and establish new networks. The conference will have eminent speakers from all over the world who are experts in their field of research, creating an opportunity for early-stage researchers to expand their understanding, generate new ideas, and strengthen their collaboration with peers. -->
        <!-- The underlisted topics are of special interest in this conference.<br>Howeve, other closely related scientific research are welcome for consideration.</h6> -->
    </div>
</section>

<section class="digital-marketing-service" id="digital-marketing-section">
    <div class="row align-items-center grid-margin">
        <div class="row align-items-center">
            <div class="col-12 col-lg-8 grid-margin grid-margin-lg-0" data-aos="fade-right">
              <div >
                <p class="font-weight-medium text-muted" style="text-align: justify;">The conference originated with the idea of celebrating the life and work of Padma Shri Professor Kasturi Lal Chopra, widely considered the pioneer of thin film research in India. He initiated basic and applied research in thin films and created technologies based on them which included three vital components: Knowledge, Leadership and Commercialization.</p>
                <p class="font-weight-medium text-muted" style="text-align: justify;">He nurtured young students to become dedicated scientists, leaders, and entrepreneurs for paying back to society through scientific discoveries, the development of pathbreaking technologies, and commercialization. Hence, the conference has been named to reflect this unique aspect (which also stands for the initials of his name, KLC) and as a step towards taking forward his legacy, there will be sessions dedicated to research ethics, leadership, and entrepreneurship targeted mainly for early career researchers. The conference will consist of plenary/invited talks and contributed papers on various focus areas in Thin Films & Nanotechnology. There will be dedicated poster sessions where Ph.D. students/researchers will have an opportunity to present their work to an international panel of experts and get feedback on their research ideas/results.</p>
                <p class="font-weight-medium text-muted" style="text-align: justify;">The organizing committee is pleased to invite stakeholders from all over the world to participate, engage and enlighten this scientific gathering. The event is expected to attract individuals from diverse fields allowing academicians, researchers, scientists, and industrial representatives to exchange ideas and establish new networks.</p>
                <p class="font-weight-medium text-muted" style="text-align: justify;">The conference promises to bring eminent global speakers who are experts in their fields of research, to create opportunity for early-stage researchers to expand their understanding, generate new ideas, and strengthen their collaboration with peers.</p>
              </div>    
            </div>
            <div class="col-12 col-lg-4 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
              <img src="{% static 'assets/images/ictnklc_pics/about_klck.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>
    </div>
  </section>

<section class="customer-feedback" id="feedback-section">
  <div class="row">
    <div class="col-12 text-center pb-5">
      <h2>Topics of Interest</h2>
      <h6 class="section-subtitle text-muted m-0">The underlisted topics are of special interest in this conference.<br>Howeve, other closely related scientific research are welcome for consideration.</h6>
    </div>
  </div>
</section>

<section class="contact-us" id="contact-section">
  <div class="contact-us-bgimage grid-margin" >
    <div class="row" style="-ms-flex-item-align: center;">
      <div class="col-2 col-lg-2 pb-4" style="text-align: left">
      </div>
      <div class="col-8 col-lg-8 pb-4" style="text-align: left">
        <ul>
          <li>Thin films/Nano-materials growth Novel techniques and concept</li>
          <li>Solar energy materials and optical coatings</li>
          <li>Materials and coating for batteries, super-capacitors and fuel cells</li>
          <li>Microelectronics and optoelectronics devices</li>
          <li>Magnetic thin films and spintronics</li>
          <li>Quantum materials and correlated systems</li>
          <li>Computational modelling and simulations</li>
        </ul>
      </div>
      <div class="col-2 col-lg-2 pb-4" style="text-align: left">
      </div>
    </div>
    <!-- <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">Do you have your projects abstract?</h4> -->
      <h4 class="pt-1" data-aos="fade-down">Do you have your projects abstract?</h4>
    <div data-aos="fade-up">
      <a href="https://tinyurl.com/ICTNKLC-Abstract">
      <button class="btn btn-rounded btn-outline-danger">Click here to submit</button>
      </a>
    </div>          
  </div>
</section>

      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <img src="images/Group2.svg" alt="" class="pb-2">
            <div class="pt-2">
              <p class="text-muted m-0">mikayla_beer@feil.name</p>
              <p class="text-muted m-0">906-179-8309</p>
            </div>         
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Get in Touch</h5>
            <p class="text-muted">Don’t miss any updates of our new templates and extensions.!</p>
            <form>
              <input type="text" class="form-control" id="Email" placeholder="Email id">
            </form>
            <div class="pt-3">
              <button class="btn btn-dark">Subscribe</button>
            </div>   
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Our Guidelines</h5>
            <a href="#"><p class="m-0 pb-2">Terms</p></a>   
            <a href="#" ><p class="m-0 pt-1 pb-2">Privacy policy</p></a> 
            <a href="#"><p class="m-0 pt-1 pb-2">Cookie Policy</p></a> 
            <a href="#"><p class="m-0 pt-1">Discover</p></a> 
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
              <h5 class="pb-2">Our address</h5>
              <p class="text-muted">518 Schmeler Neck<br>Bartlett. Illinois</p>
              <div class="d-flex justify-content-center justify-content-md-start">
                <a href="#"><span class="mdi mdi-facebook"></span></a>
                <a href="#"><span class="mdi mdi-twitter"></span></a>
                <a href="#"><span class="mdi mdi-instagram"></span></a>
                <a href="#"><span class="mdi mdi-linkedin"></span></a>
              </div>
          </div>
        </div>  
      </section>
{% endblock main %}


<section class="digital-marketing-service" id="digital-marketing-section">
    
    <div class="row align-items-center">
      <div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
        <img src="{% static 'assets/images/Group2.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
        <h3 class="m-0">Leading Digital Agency<br>for  Business Solution.</h3>
        <div class="col-lg-9 col-xl-8 p-0">
          <p class="py-4 m-0 text-muted">Power-packed with impressive features and well-optimized, this template is designed to provide the best performance in all circumstances.</p>
          <p class="pb-2 font-weight-medium text-muted">Its smart features make it a powerful stand-alone website building tool.</p>
        </div>
        <button class="btn btn-info">Readmore</button>
      </div>
    </div>
  </section> 

<div class="col-12 col-lg-12 grid-margin grid-margin-lg-0" data-aos="fade-right">
    <div >
      <p class="font-weight-medium text-muted" style="text-align: center;">Thin films/Nano-materials growth- Novel techniques and concept</p>
      <p class="font-weight-medium text-muted" style="text-align: center;">Solar energy materials and optical coatings</p>
      <p class="font-weight-medium text-muted" style="text-align: center;">Quantum materials and correlated systems</p>
      <p class="font-weight-medium text-muted" style="text-align: center;">Materials and coating for batteries, super-capacitors and fuel cells</p>
      <p class="font-weight-medium text-muted" style="text-align: center;">Quantum materials and correlated systems</p>
      <!-- <p class="font-weight-medium text-muted" style="text-align: center;">Solar energy materials and optical coatings</p> -->
    </div>    
  </div>