{% extends 'base.html' %}
{% load static %}
{% block head_title %}Home |{% endblock head_title %}


{% block banner %}
<h1 class="font-weight-semibold">3rd International Conference on Thin Films and Nanotechnology</h1>

<h6 class="font-weight-normal text-muted pb-3">A Knowledge, Leadership & Commercialization Conference  
<br><span style="color: rgb(236, 78, 78);">coming up from <b>11 - 13 December, 2025</b> at the Indian Institute of Technology Delhi</span><br>in collaboration with industry experts.</h6>

{% comment %}
<div>
    <button class="btn btn-opacity-light mr-1">coming up from 11 - 13 December, 2025</button>
    <!-- <button class="btn btn-opacity-success ml-1">Learn more</button> -->
</div>
{% endcomment %}



<!-- <img src="{% static 'assets/images/ictnklc_pics/IITDelhi_logo.png' %}" style="max-width: 200px; max-height: 200px;" class="img-fluid"> -->
<img src="{% static 'assets/images/ictnklc_pics/iitdbuilding.png' %}" class="img-fluid">
      
{% endblock banner %}

{% block main %}
{% endblock main %}
