{% extends 'base.html' %}
{% load static %}
{% block head_title %}Registration |{% endblock head_title %}


{% block banner %}
{% endblock banner %}

{% block main %}

      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>Registration Fees</h2>
          <h6 class="section-subtitle text-muted">Please read the Instructions carefully before making payment <span style="color: red;">All figures include 18% GST</span></h6>
        </div>
        <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start">
            <!-- <div class="features-width">
              <img src="images/Group12.svg" alt="" class="img-icons">
              <h5 class="py-3">Speed<br>Optimisation</h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
              <a href="#"><p class="readmore-link">Readmore</p></a>  
            </div> -->
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <h5 class="py-3" style="text-align: center;">Instructions For Fees Payment.</h5>
              <p class="text-muted">
                <UL>
                    <li>Note the serial number of your accepted Abstract from the list.</li>
                    <li>Please note that only one email ID can be used for each registration.</li>
                    <li>Fill up your details carefully as the form is a non-editable , information once saved can not be edited.</li>
                    <li>In case of any mistake , please send an email to <span style="color: red;"> ictn.klc.2025@gmail.com</span> requesting correction to the data.</li>
                    <li>Participants needing accommodation are requested to register as soon as possible as hostel/ guest house facility is limited and will be available on first-come, first serve basis.</li>
                </UL>
              </p>
                <table style="border-collapse: collapse; width: 100%;">
                    <thead>
                        <tr>
                        <th style="border: 1px solid black; padding: 8px;">Attendees</th>
                        <th style="border: 1px solid black; padding: 8px;">Without Accomodation</th>
                        <th style="border: 1px solid black; padding: 8px;">With Accomodation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td style="border: 1px solid black; padding: 8px;">Student Delegates</td>
                        <td style="border: 1px solid black; padding: 8px;">Rs.5000</td>
                        <td style="border: 1px solid black; padding: 8px;">Rs.7000</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">Postdoc/Faculty/Scientists</td>
                            <td style="border: 1px solid black; padding: 8px;">Rs.10000</td>
                            <td style="border: 1px solid black; padding: 8px;">Rs.14000</td>
                        </tr>

                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">Industry delegates</td>
                            <td style="border: 1px solid black; padding: 8px;">Rs.14000</td>
                            <td style="border: 1px solid black; padding: 8px;">Rs.18000</td>
                        </tr>

                        <tr>
                        <td style="border: 1px solid black; padding: 8px;">Foreign delegates (Students)</td>
                        <td style="border: 1px solid black; padding: 8px;">-</td>
                        <td style="border: 1px solid black; padding: 8px;">USD 500</td>
                        </tr>

                        <tr>
                        <td style="border: 1px solid black; padding: 8px;">Foreign delegates (Faculty/Scientists)</td>
                        <td style="border: 1px solid black; padding: 8px;">-</td>
                        <td style="border: 1px solid black; padding: 8px;">USD 750</td>
                        </tr>

                        <tr>
                        <td style="border: 1px solid black; padding: 8px;">Foreign delegates (Industry)</td>
                        <td style="border: 1px solid black; padding: 8px;">-</td>
                        <td style="border: 1px solid black; padding: 8px;">USD 1000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
          </div>
          <div class="grid-margin d-flex justify-content-end">
            <!-- <div class="features-width">
              <img src="images/Group5.svg" alt="" class="img-icons">
              <h5 class="py-3">Content<br>Marketing</h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
              <a href="#"><p class="readmore-link">Readmore</p></a>
            </div> -->
          </div>
        </div>
      </section> 
{% endblock main %}