{% extends 'base.html' %}
{% load static %}
{% block head_title %}Sponsorship |{% endblock head_title %}


{% block banner %}
{% endblock banner %}

{% block main %}

  <div class="features-overview grid-margin" >
      <div class="content-header" style="padding-bottom: 5rem;">
        <h2>Sponsors Of Conference <br> <span style="color:red; font-size: 60%;">
            The following are the sponsor of the 2025 ICTN-KLC Conference</span> </h2>
        <!-- <h6 class="section-subtitle text-muted">Selected participants are invited to structure their presentation using the poster format below. <br>Participants whose papers have be selected for the conference should have received emails to this effect</h6> -->
      

        <img src="{% static 'assets/images/ictnklc_pics/sponsors.png' %}" class="img-fluid">
</div>
      <div class="row justify-content-center align-items-center" style="padding: 1rem;">
          <div data-aos="fade-up" style="padding: 1rem;" >
          <a href="{% static 'assets/images/ictnklc_pics/ConferenceSponsors.pdf' %}">
          <button class="btn btn-rounded btn-outline-danger" download>Download Sponsors of Conference</button>
          </a>
        </div>          
      </div>
  </div>


      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>Fees For Conference Sponsorship</h2>
          <h6 class="section-subtitle text-muted">Prospective sponsors are welcome to be part of this conference event<span style="color: red;"></span></h6>
        </div>
        <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start">
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <h5 class="py-3" style="text-align: center;">Guiding Instructions For Sponsorship Support.</h5>
                <table class="grid-margin"  style="border-collapse: collapse; width: 100%;">
                    <thead>
                        <tr>
                        <th style="border: 1px solid black; padding: 8px;">Tier</th>
                        <th style="border: 1px solid black; padding: 8px;">Platinum</th>
                        <th style="border: 1px solid black; padding: 8px;">Diamond</th>
                        <th style="border: 1px solid black; padding: 8px;">Gold</th>
                        <th style="border: 1px solid black; padding: 8px;">Silver</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">Sponsorship</td>
                            <td style="border: 1px solid black; padding: 8px;">Rs.800,000</td>
                            <td style="border: 1px solid black; padding: 8px;">Rs.600,000</td>
                            <td style="border: 1px solid black; padding: 8px;">Rs.250,000</td>
                            <td style="border: 1px solid black; padding: 8px;">Rs.150,000</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">Complimentary registration</td>
                            <td style="border: 1px solid black; padding: 8px;">5</td>
                            <td style="border: 1px solid black; padding: 8px;">4</td>
                            <td style="border: 1px solid black; padding: 8px;">2</td>
                            <td style="border: 1px solid black; padding: 8px;">1</td>
                        </tr>

                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">Product exhibition and booth</td>
                            <td style="border: 1px solid black; padding: 8px;">2</td>
                            <td style="border: 1px solid black; padding: 8px;">2</td>
                            <td style="border: 1px solid black; padding: 8px;">1</td>
                            <td style="border: 1px solid black; padding: 8px;">1</td>
                        </tr>

                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">Company name and logo on the conference website</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                        </tr>


                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">Banner at the entrance of the conference venue</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                        </tr>

                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">Company logo on the conference registration kitt</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                        </tr>


                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">Slot for invited talk</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                            <td style="border: 1px solid black; padding: 8px;">Yes</td>
                            <td style="border: 1px solid black; padding: 8px;">-</td>
                            <td style="border: 1px solid black; padding: 8px;">-</td>
                        </tr>

                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">Keynote Speech</td>
                            <td style="border: 1px solid black; padding: 8px;">-</td>
                            <td style="border: 1px solid black; padding: 8px;">-</td>
                            <td style="border: 1px solid black; padding: 8px;">-</td>
                            <td style="border: 1px solid black; padding: 8px;">-</td>
                        </tr>

                        <tr>
                            <td style="border: 1px solid black; padding: 8px;">Slot in panel Discussions</td>
                            <td style="border: 1px solid black; padding: 8px;">-</td>
                            <td style="border: 1px solid black; padding: 8px;">-</td>
                            <td style="border: 1px solid black; padding: 8px;">-</td>
                            <td style="border: 1px solid black; padding: 8px;">-</td>
                        </tr>


                        
                    </tbody>
                </table>
                <p class="text-muted">** The conference program booklet inside the registration kit will have all the sponsors logo, but the registration kit bag will have only the logo of the platinum sponsors.</p>
                <p>
                    <ul>
                        <li> <strong>Note-1:</strong> Booth details:- Each booth will have one table, two chairs and electrical power socket.
                        <br>Platinum and Diamond sponsors can request either two individual booths or a single booth of large size. Sponsors will be responsible for branding inside their booth</li>
                        <li> <strong>Note-2:</strong> All the above amounts are exclusive of GST</li>
                        <!-- <li> <strong>Note-3:</strong> The Conference registration and Banquet Fees are exclusive of GST and bank charges. These additional charges must be paid by the participant where applicable</li> -->
                    </ul>
                </p>
            </div>
            
          </div>
          <div class="grid-margin d-flex justify-content-end"></div>
        </div>
      </section> 
{% endblock main %}

 


